
.Container-Detail{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 15%;
    padding-top: 10%;
    background-color: rgba(0, 0, 0,50%);
    
}
.img-Item{
    width: 300px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5%;
    box-shadow: 0px 0px 10px rgb(245, 135, 32);
}
.Description-Container{
    display: flex;
    flex-direction: column;
    padding:5%;
    align-items: center;
}

.Description-Container p{
    color: aliceblue;
    margin-bottom: 10%;
}
.Description-Container h2{
    color: aliceblue;
    margin-bottom: 5%;
    text-shadow: 1px 1px 1px black;
    
}


@media (max-width:450px){

    .Container-Detail{
        flex-wrap: wrap;
    }

}